.container {
    width : 100%;
}

/* =Modal.
 -------------------------------------------------------------- */
.modal-dialog {
    top : 8px;
}

.modal-content {
    border-radius : 0px;
}

.cf-show-modal .modal-header {
    background-color : #438EB9;
    color            : #FFF;
}

.cf-show-modal label {
    font-weight : normal;
    padding-top : 5px;
}

.cf-show-modal label i {
    color     : #F00;
    font-size : 7px;
    top       : -6px;
}

/* =Navbar.
 -------------------------------------------------------------- */
.navbar {
    border-radius : 0px;
}

.cf-navbar {
    margin-top : 6px;
    width      : 98.5%;
}

.navbar li {
    margin-bottom : 0px;
}

/* =Chosen.
 -------------------------------------------------------------- */
.chosen-container {
    min-width : 65%;
}

/* =Buttons.
 -------------------------------------------------------------- */
.btn {
    border-radius : 0px !important;
}

.cf-btn {
    border-radius : 0px;
}

.cf-btn-create {
    margin : 8px;
}

.cf-close {
    margin-top  : -4px !important;
    color       : white !important;
    font-size   : 28px !important;
    text-shadow : 0 0px 0 #fff !important;
    opacity     : 1 !important;
}

.cf-close:hover,
.cf-close:focus {
    opacity : .5 !important;
}

/* =Tree structure.
 -------------------------------------------------------------- */
.btn {
    margin-right : 8px;
}

.angular-ui-tree-handle {
    background : #f8faff;
    border     : 1px solid #dae2ea;
    color      : #7c9eb2;
    padding    : 10px 10px;
}

.angular-ui-tree-handle:hover {
    color        : #438eb9;
    background   : #f4f6f7;
    border-color : #dce2e8;
}

.angular-ui-tree-placeholder {
    background         : #f0f9ff;
    border             : 2px dashed #bed2db;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

.group-title {
    background-color : #687074 !important;
    color            : #FFF !important;
}

/* =Helpers.
 -------------------------------------------------------------- */
.text-align-center {
    text-align : center !important;
}

.text-align-right {
    text-align : right !important;
}

.display-none {
    display : none;
}

.cf-position-relative {
    position : relative;
}

.cf-wide-modal .modal-dialog {
    width : 100%;
}

.cf-ninety-modal .modal-dialog {
    width : 90%;
}

.cf-eighty-modal .modal-dialog {
    width : 80%;
}

.cf-seventy-modal .modal-dialog {
    width : 70%;
}

.cf-sixty-modal .modal-dialog {
    width : 60%;
}

.cf-half-modal .modal-dialog {
    width : 50%;
}

.cf-quarter-modal .modal-dialog {
    width : 25%;
}

.cf-tenth-modal .modal-dialog {
    width : 10%;
}